body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  background: url('img/gambar7.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}


.text-shadow {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
